@import "../../mixins";

.home_page {
  min-height: 100vh;
  .products_list {
    &--content {
      position: relative;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      place-items: center;
      gap: 15px;

      @media only screen and (max-width: 1360px) {
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
      }

      @include tablet {
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
        .card_item {
          width: 100%;
        }
      }

      @include mobile {
        grid-template-columns: repeat(1, 1fr);
        gap: 8px;
        padding: 0 20px;
      }
    }
  }
}
