@import "../../mixins";
.select_box {
  position: relative;
  background-color: var(--clr-light-gray);
  width: 130px;
  height: 45px;

  user-select: none;

  @include extra-extra-small {
    width: 100%;
  }

  &--selected {
    background-color: var(--clr-light-gray);
    cursor: pointer;

    height: 100%;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    .arrow {
      width: 20px;
      height: 20px;
      transition: 0.2s ease-in-out;
    }

    @include mobile {
      font-size: 15px;
      padding: 0 10px;
      gap: 5px;
    }

    @include extra-extra-small {
      font-size: 13px;
      padding: 0 8px;
      padding: 2px;
    }
  }
  &--options {
    background-color: var(--clr-white);

    position: absolute;
    z-index: 9999;
    width: 100%;
    top: 56px;
    left: 0;
    cursor: pointer;
    box-shadow: var(--box-shadow-1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;

    opacity: 0;
    pointer-events: none;
    transition: 0.2s ease-in-out;

    li {
      padding: 16px;
      padding-bottom: 0;
      .option_content {
        padding-bottom: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 0.0625rem solid #e5e5e5;
      }

      &:hover {
        background-color: #f3f3f3;
      }
      .selected-tick {
        height: 20px;
        width: 20px;
      }
    }
  }

  &[data-active="true"] {
    ul {
      top: 46px;
      opacity: 1;
      pointer-events: all;
    }

    .arrow {
      transform: rotate(180deg);
    }
  }
}

@keyframes smoothOpen {
  from {
    top: 50px;
  }
  to {
    top: 35px;
  }
}
